/* Styles for our enchiladas table */
* {
   padding:0;
    margin:0;
    box-sizing:border-box;
    border-collapse:collapse;
    
}

body {
    background:beige;
    font-family:verdana, arial, sans-serif;
}

.social {
    position: fixed;
    bottom:100px;
    right:5px;
    list-style-type: none;
}


.social li {
    width: 40px;
    margin-bottom: 8px;
}

#wrapper {
    width:940px;
    margin:0 auto;
    padding-top:20px;
    position:relative;
    overflow:hidden;
    z-index: -1;
}

.row {
    width:940px;
    margin:0px auto;
    background-color:pink;
    clear:both;
}

header { 
  
    background-color:orange;
}


#logo {
    width:200px;
    margin: 20px 0 15px 0;
    display:inline;
}


nav{
    height: 50px;
    background:red;
    clear:both;
    line-height:50px;
}

nav li {
    float:left;
    list-style-type: none;
     width: 16.66%;
    text-align:center;
}


nav a {
    text-decoration: none;
    display: block;
    color:#fff;
}

nav ul {
    width:1000px;
    margin:0 auto;
}

nav a:hover {
    background:#800;
        
}

.home nav li:nth-child(1) a,
.menu nav li:nth-child(3) a{
    background:#800;
}

main {
    float:left;
    width:560px;
    padding-bottom:30px;
}


.container {
    width:580px;
}

aside {
    float:right;
    width:340px;
    padding: 12px;
    background-color: tan;
}

aside: before {
    width:340;
    position: absolute;
    background:tan;
    top:0;
    right:0;
    bottom:0;
    content:'';
    z-index: -1;
}



table {
    width:580px;
    margin-top:20px;
    font-family: playfair, times, serif;
}



td {
  
}

.price {
    width:60px;
    text-align:right;
    border-bottom:1px solid tan;
}

.pic {
    width:150px;
    padding-bottom:10px;
    border-bottom:1px solid tan;
    border-top:1px solid tan;
    padding:10px 0;
}

img {
    display:block;
    max-width:100%;
}

.name, .description {
    padding-left:10px;
}

.name {
    vertical-align:bottom;
}

.description {
    vertical-align:top;
    /* padding-top:10px; */
    font-size:.9em;
    font-style:italic;
    border-bottom:1px solid tan;
}

.name h2 {
    padding-top:8px;
}




tr:last-of-type > *,
table tr:nth-child(11) > * {
    border-bottom:none;
}


.box {
    float:left;
    margin-right:20px;
    width:173.33px;
    height:175px;
    background:pink;
    display: block;
    
}

.box: last-of-type {
    margin-right:0;   
}

footer {
    height:50px;
    clear:both;
    line-height: 50px;
    border-top: 1px solid tan;
    border-bottom: 1px solid tan;
    font-size:.875em;
}

footer ul {
    float: right;
}

footer li {
    float:left;
    list-style-type: none;
    margin-right:30px;
    color:#888;
}

footer a {
    color:#888;
}

h1 {
    color:#c6212b;
    font-weight:200;
    font-size:2.44em;
}

h2 {
    font-size: 2em;
}

table h2 {
    font-size: 1.6em;
}

h3 {
    font-size:1.8em;
    font-weight:200;
}

h1, h2, h3 {
    margin-bottom:10p;
    font-family:playfair, times, serif;
}

p {
    margin-bottom:20px;
    line-height: 1.4;
}

aside p {
    font-size: .875em;
    margin-bottom:15px;
}

figure {
    margin-bottom: 15px;
}

figcaption {
    background:#000;
    padding:8px;
    color:#fff;
    font-size: .875em;
    font-size:italic;
}
